:root {
  --color-principal: #8E8E96;
  --color-secundario: #473f3f;
  --color-contornos: #241f1f;
  --color-numeros: #292929; 
  --color-hover: #a6ff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: #414464;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-principal {
  width: 600px;
  padding: 20px;
  background-color: var(--color-principal);
  border-radius: 20px;
  border: 5px solid var(--color-contornos);
}

.div-botones {
  margin: 50px 0 0 0;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.div-mem {
  grid-column: 1/7;
  display: flex;
}

.div-clear {
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
}

.div-numeros {
  grid-column: 2/5;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.div-ops1 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column: 5/7;
  grid-row: 2/4;
}

.div-mas {
  grid-row: 4/6;
  display: flex;
}

.div-ops2 {
  grid-row: 4/6;
  display: flex;
  flex-direction: column;
}

.firma {
  padding: 10px;
  color: white;
}